.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;

  z-index: 1;
}

.overlay--active {
  display: block;
}

.modal-form{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  padding: 6rem 2rem 2rem; 


  background-color: #FEFEFE;
  width: 35%;
  min-height: 35%;

  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.modal-form--active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form img {
  position: absolute;
  top: -25%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  padding-top: 1rem;
}

.form label {
  font-weight: 600;
  font-size: 1.8rem;
  color:rgba(0, 0, 0, 0.8);
}

.form input {
  height: 3.8rem;
  font-size: 2rem;
  margin-bottom: 1rem;

  padding-left: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  outline: none;
}

.form input:focus {
  border: 1px solid rgb(118, 167, 46);
  filter: drop-shadow(0 0 0.5rem rgb(118, 167, 46));
}