* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root, button, input {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.6rem;


  background-image: url(../images/Abstract-Envelope.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  flex-direction: column;
}